#profile-button {
  min-height: min-content;
  min-width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-username {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

#profile-role {
  font-size: 18px;
  font-weight: 300;
}

#profile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.profile-icon {
  font-size: 32px;
}

.profile-data {
  position: absolute;
  top: 100%;
  left: calc(50% - 150px);
  width: 300px;
  height: 175px;
  min-height: min-content;
  padding: 1.3em 0.8em;
  background-color: var(--primary-color);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.profile-details {
  margin-top: 16px;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .profile-data {
    right: 0%;
    left: auto;
  }
}
