#backend-chooser {
  z-index: 19;
}

#backend-chooser-button {
  min-height: min-content;
  min-width: min-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backend-chooser-icon {
  font-size: 32px;
}

.backend-chooser-data {
  position: absolute;
  overflow: hidden;
  top: 90%;
  right: 32px;
  width: 0px;
  max-height: 0px;
  padding: 0px;
  font-size: 14px;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.open {
  right: 12px;
  max-height: 175px;
  width: 260px;
  padding: 8px 14px;
}

.radio-button-container {
  margin: 10px 8px;
  font-size: 16px;
  font-weight: 500;
}
