<div id="backend-chooser" (clickOutside)="close()">
  <button mat-icon-button id="backend-chooser-button" (click)="toggle()">
    <mat-icon class="backend-chooser-icon">settings</mat-icon>
  </button>
  <section class="backend-chooser-data" [ngClass]="{'open': open}">
      <div>
        <h3>Válaszd ki a használandó backend-et!</h3>
      </div>
      <mat-radio-group aria-label="Válassz backend-et!">
        <div class="radio-button-container">
          <mat-radio-button [checked]="isChecked('express')" value="express" color="primary" (click)="changeBackend('express')">Express</mat-radio-button>
        </div>
        <div  class="radio-button-container">
          <mat-radio-button [checked]="isChecked('fastify')" value="fastify" color="primary" (click)="changeBackend('fastify')">Fastify</mat-radio-button>
        </div>
      </mat-radio-group>
  </section>
</div>
