.sub-navbar {
  margin: auto;
  font-size: 14px;
  max-width: max-content;
  max-height: 90px;
  border-radius: 0px 0px 25px 25px;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.sub-navbar-item {
  position: relative;
  cursor: pointer;
  width: 100px;
  padding: 8px 16px;
  line-height: 2.5;
}

.sub-navbar-item:hover::after {
  content: ' ';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.12);
}

.sub-navbar-item:last-child {
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.container {
  margin: 32px auto;
  width: 90%;
  text-align: center;
}

.form-container {
  display: block;
  margin: 32px auto;
  width: 60%;
  background-color: var(--primary-color);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
}

.form-container > form {
  margin: 16px;
  padding: 16px;
  padding-bottom: 32px;
}

.form-header {
  min-height: fit-content;
  margin-bottom: 32px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  padding-top: 16px;
  color: var(--primary-font-color);
}

.id {
  text-align: left;
  font-size: 14px;
  margin-left: 16px;
  color: var(--primary-font-color);
}

.form-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
}

.details-row {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.first-row {
  /* flex-basis: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 16px;
}

.form-button {
  font-size: 14px;
  font-weight: 400;
  margin: 12px 20px !important;
}

.newsfeed-title {
  margin-top: 32px;
  width: 45%;
}

.newsfeed-title * {
  width: 100%;
  padding: auto 50px;
  text-align: center;
}

.description,
.description * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.series-search {
  width: 45%;
}

.series-col {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  width: 35%;
  min-width: fit-content;
  padding: 8px 12px;
}

.button-container {
  gap: 1.8em;
}

@media screen and (max-width: 1200px) {
  .form-container {
    width: 85%;
  }

  .newsfeed-title {
    width: 70%;
  }

  .series-search {
    width: 75%;
  }

  .description {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 28px;
  }

  .form-container {
    width: 95%;
  }

  .form-header {
    margin-bottom: 12px;
  }

  .newsfeed-title {
    width: 295px;
  }

  .series-search {
    width: 335px;
  }

  .first-row {
    flex-basis: 100%;
  }

  .series-col {
    font-size: 16px;
    font-weight: 300;
    width: 46%;
    margin: 20px 2%;
  }

  .description {
    width: 295px;
  }

  .id {
    margin-top: 12px;
    margin-left: 0px;
  }

  .form-button {
    font-size: 12px;
    font-weight: 300;
    margin: auto 12px;
  }
}
