<main class="container">
  <header class="search">
    <div class="search-item">
    </div>
    <div class="search-item">
      <app-search-bar (searchValue)="setOption('filter', $event)"></app-search-bar>
      <mat-slide-toggle class="direction" [checked]="opts.direction" (change)="setOption('direction', !opts.direction)">{{opts.direction ? "Növekvő sorrend" : "Csökkenő sorrend"}}</mat-slide-toggle>
    </div>
    <div class="search-item">
      <app-drop-down-bar [action]="true" [header]="'Rendezés'" [options]="orderOptions" (selected)="setOption('order', $event)"></app-drop-down-bar>
    </div>
  </header>
  <div class="items" *ngIf="newsfeeds.length > 0; else noNewsfeed">
    <div >
      <app-newsfeed-item [newsfeed]="newsfeed" *ngFor="let newsfeed of newsfeeds"></app-newsfeed-item>
    </div>
  </div>
  <ng-template #noNewsfeed>
    <div class="items" style="text-align: center">
      <h1>Nincsennek megjeleníthető újdonság</h1>
    </div>
  </ng-template>
</main>
