<div>
  <div class="sub-navbar">
    <a (click)="routeTo('new')" class="sub-navbar-item">Új hozzáadás</a>
    <a (click)="routeTo('change')" class="sub-navbar-item">Módosítás</a>
  </div>
  <div class="container">
    <div class="search">
      <app-search-bar [options]="[]" (searchValue)="captureValue($event)"></app-search-bar>
    </div>
    <div class="form-container" *ngIf="seriesId">
      <div class="form-header">
        <div class="title">
          <label>HEADER</label>
        </div>
        <div class="id">
          <label>ID: 20</label>
        </div>
      </div>
      <div class="form-details">
        <div class="details-row">
          <div>Cím: feafea</div>
          <div>Kategória: agegaegaer</div>
        </div>
        <div class="details-row">
          <div>Kiadási év: aefaegare</div>
          <div>Hossz: 20 feagaere</div>
        </div>
      </div>
      <form>
        <div class="form-drop-bars">
          <app-drop-down-bar [header]="'Évad'"></app-drop-down-bar>
          <app-drop-down-bar [header]="'Epizód'"></app-drop-down-bar>
          <app-drop-down-bar [header]="'Állapot'"></app-drop-down-bar>
        </div>
        <button class="form-button" mat-raised-button>Mentés</button>
        <button class="form-button" mat-raised-button color="warn">Törlés</button>
      </form>
    </div>
  </div>
</div>
<p>series-handler works!</p>
