.background {
  position: fixed;
  z-index: -1;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/background_tr.png'),
    url('../public/background_bl.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right 20px top 60px, left bottom;
  background-attachment: fixed;
}

@media screen and (max-width: 1200px) {
  .background {
    background-size: auto 70%;
  }
}
