<main class="container">
  <header class="search">
    <div class="search-item"></div>
    <div class="search-item">
      <app-search-bar></app-search-bar>
    </div>
    <div class="search-item">
      <app-drop-down-bar></app-drop-down-bar>
    </div>
  </header>
  <div class="items">
    <app-series-item></app-series-item>
    <app-series-item></app-series-item>
    <app-series-item></app-series-item>
    <app-series-item></app-series-item>
    <app-series-item></app-series-item>
  </div>
</main>
