<main class="container">
  <header class="search">
    <div class="search-item">
    </div>
    <div class="search-item">
      <app-search-bar (searchValue)="setOption('filter', $event)"></app-search-bar>
      <mat-slide-toggle class="direction" [checked]="opts.direction" (change)="setOption('direction', !opts.direction)">{{opts.direction ? "Növekvő sorrend" : "Csökkenő sorrend"}}</mat-slide-toggle>
    </div>
    <div class="search-item">
      <app-drop-down-bar [action]="true" [header]="'Rendezés'" [options]="orderOpts" (selected)="setOption('order', $event)"></app-drop-down-bar>
    </div>
  </header>
  <div class="items" *ngIf="serieses.length > 0; else noSeries">
    <div *ngFor="let series of serieses">
      <app-series-item [series]="series"></app-series-item>
    </div>
  </div>
  <ng-template #noSeries>
    <div class="items">
      <h1>Nincsennek megjeleníthető sorozatok</h1>
    </div>
  </ng-template>
</main>
