<main class="container">
  <header class="search">
    <div class="search-item">
      <mat-slide-toggle [checked]="opts.direction" (change)="setOption('direction', !opts.direction)">{{opts.direction ? "Növekvő sorrend" : "Csökkenő sorrend"}}</mat-slide-toggle>
    </div>
    <div class="search-item">
      <app-search-bar (searchValue)="setOption('filter', $event)"></app-search-bar>
    </div>
    <div class="search-item">
      <app-drop-down-bar [action]="true" [header]="'Rendezés'" [options]="getOrderOptions()" (selected)="setOption('order', $event)"></app-drop-down-bar>
    </div>
  </header>
  <div class="items" *ngIf="userserieses.length > 0; else noUserSeries">
    <div *ngFor="let userseries of userserieses">
      <app-userseries-item [userseries]="userseries"></app-userseries-item>
    </div>
  </div>
  <ng-template #noUserSeries>
    <div class="items">
      <h1>Nincsennek megjeleníthető sorozatok</h1>
    </div>
  </ng-template>
</main>
