<div id="login-container">
  <div>
    <span class="title">Bejelentkezés</span>
  </div>
  <form [formGroup]="formGroup" (submit)="submit()" id="login-form">
    <mat-form-field class="form-field">
      <mat-placeholder>Felhasználó / Email</mat-placeholder>
      <mat-error>Kötelező mező!</mat-error>
      <input matInput type="text" formControlName="login"/>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-placeholder>Jelszó</mat-placeholder>
      <mat-error>Kötelező mező!</mat-error>
      <input matInput type="password" formControlName="password"/>
    </mat-form-field>
    <button mat-raised-button color="accent">Bejelentkezés</button>
  </form>
</div>

