<div>
  <div class="container">
    <div class="search">
      <app-search-bar [options]="seriesOptions" (searchValue)="captureValue($event)" (selectedValue)="autocompleteValue($event)"></app-search-bar>
    </div>
    <div class="form-container" *ngIf="selectedUserSeries">
      <div class="form-header">
        <div class="title">
          <label>Sorozat módosítás</label>
        </div>
        <div class="id">
          <label>ID: {{selectedUserSeries.series.id}}</label>
        </div>
      </div>
      <div class="form-details">
        <div class="details-row">
          <div>Cím: {{selectedUserSeries.series.title}}</div>
          <div>Kategória: {{getCategories()}}</div>
        </div>
        <div class="details-row">
          <div>Kiadási év: {{selectedUserSeries.series.prodYear}}</div>
          <div>Hossz: {{selectedUserSeries.series.length}} perc</div>
        </div>
      </div>
      <div>
        <div class="form-drop-bars">
          <app-drop-down-bar [header]="selectedSeason?.season + '. Évad'" [action]="true"
            [options]="seasonOptions" (selected)="setSeasonOption($event)"></app-drop-down-bar>
          <app-drop-down-bar [header]="selectedEpisode + '. Epizód'" [action]="true"
            [options]="episodeOptions" (selected)="setEpisodeOption($event)"></app-drop-down-bar>
          <app-drop-down-bar [header]="selectedStatus?.name+''" [action]="true"
            [options]="statusOptions" (selected)="setStatusOption($event)"></app-drop-down-bar>
        </div>
        <button class="form-button" mat-raised-button (click)="submit()">Mentés</button>
        <button class="form-button" mat-raised-button (click)="remove()" color="warn">Törlés</button>
      </div>
    </div>
  </div>
</div>
