<div>
  <div class="container">
    <div class="search">
      <app-search-bar [options]="seriesOptions" (searchValue)="captureValue($event)" (selectedValue)="autocompleteValue($event)"></app-search-bar>
    </div>
    <div class="form-container" *ngIf="selectedUserSeries">
      <div class="form-header">
        <div class="title">
          <label>HEADER</label>
        </div>
        <div class="id">
          <label>ID: {{selectedUserSeries.series.id}}</label>
        </div>
      </div>
      <div class="form-details">
        <div class="details-row">
          <div>Cím: {{selectedUserSeries.series.title}}</div>
          <div>Kategória: {{getCategories()}}</div>
        </div>
        <div class="details-row">
          <div>Kiadási év: {{selectedUserSeries.series.prodYear}}</div>
          <div>Hossz: {{selectedUserSeries.series.length}} perc</div>
        </div>
      </div>
      <form (submit)="submit()">
        <div class="form-drop-bars">
          <app-drop-down-bar [header]="selectedUserSeries.season === undefined || seriesDoesntHaveSeasons() ? 'Évad' : getSeasonHeader()"
            [options]="getSeasonOptions()" (selected)="setSeasonOption($event)"></app-drop-down-bar>
          <app-drop-down-bar [header]="selectedUserSeries.episode === undefined || seriesDoesntHaveSeasons() ? 'Epizód' : getEpisodeHeader()"
            [options]="getEpisodeOptions()" (selected)="setEpisodeOption($event)"></app-drop-down-bar>
          <app-drop-down-bar [header]="selectedUserSeries.status === undefined ? 'Állapot' : selectedUserSeries.status.name"
            [options]="statusOptions" (selected)="setStatusOption($event)"></app-drop-down-bar>
        </div>
        <button class="form-button" mat-raised-button type="submit">Mentés</button>
        <button class="form-button" mat-raised-button color="warn" type="button">Törlés</button>
      </form>
    </div>
  </div>
</div>
