<div class="series-item">
  <header>
    <label class="series-name">{{series.title}}</label>
  </header>
  <div>
    <div class="series-prodyear">{{series.prodYear}}</div>
    <div class="series-length">{{series.length}} perc</div>
    <div class="series-category">{{getCategories()}}</div>
  </div>
  <footer>
    <label class="age-limit" [ngStyle]="{'border-color': getLimitColor()}">{{series.ageLimit}}</label>
    <app-drop-down-bar [header]="'Évadok'" [options]="getOptions()"></app-drop-down-bar>
  </footer>
</div>
