<div class="series-item">
  <button class="float-button" mat-icon-button (click)="editSeries()" *ngIf="canEdit">
    <mat-icon class="float-icon">build</mat-icon>
  </button>
  <button class="float-button" mat-icon-button (click)="addSeries()" *ngIf="canAdd">
    <mat-icon class="float-icon">add</mat-icon>
  </button>
  <header>
    <label class="series-name">{{series.title}}</label>
  </header>
  <div>
    <div class="series-prodyear">{{series.prodYear}}</div>
    <div class="series-length">{{series.length}} perc</div>
    <div class="series-category">{{getCategories()}}</div>
  </div>
  <footer>
    <label class="age-limit" [ngStyle]="{'border-color': getLimitColor()}">{{series.ageLimit}}</label>
    <app-drop-down-bar [header]="'Évadok'" [options]="getOptions()"></app-drop-down-bar>
  </footer>
</div>
