<div class="dropdown-container" [style.width]="width"
  (clickOutside)="close()"
  [ngStyle]="{'border-radius': open ? '8px 8px 0px 0px' : '8px'}">
  <div class="dropdown-header" (click)="toggle()">
    <label>{{selectedValue}}</label>
    <label>
      <mat-icon class="dropdown-icon">{{open ? "expand_less" : "expand_more"}}</mat-icon>
    </label>
  </div>
  <div class="dropdown-body" *ngIf="open"
  [ngStyle]="{'border-top': open ? '2px solid var(--primary-color)' : 'none'}">
    <span *ngIf="this.options && this.options.length > 0; else noOptions">
      <span class="dropdown-item-container" *ngFor="let option of options">
        <div class="dropdown-body-item" [ngClass]="{ 'highlight': option.highlight }"
          (click)="onClick(option)">{{option.shownValue}}</div>
        <!-- <hr class="divider" /> -->
      </span>
    </span>
    <ng-template #noOptions>
      <span class="dropdown-item-container">
        <div class="dropdown-body-item">
          Üres...
        </div>
      </span>
    </ng-template>
  </div>
</div>
